{% extends "base.html" %}

{% block content %}
    <h1>Зарегистрируйтесь, чтобы совершать покупки</h1>
    <form action='' method="post">
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Введите адрес почты" name="email">
        <input type="password" class="form-control" id="password" placeholder="Введите пароль" name="password">
        <div class="form-group">
            <label for="classSelect">Выберите Ваш город</label>
            <select class="form-control" id="classSelect" name="class">
                <option>Москва</option>
                <option>Санкт-Петербург</option>
                <option>Астрахань</option>
                <option>Брянск</option>
                <option>Казань</option>
                <opiton>Саратов</opiton>
                <option>Новосибирск</option>
                <option>Самара</option>
                <option>Другой город</option>
            </select>
        </div>
        <div class="form-group">
            <label for="about">Немного о себе</label>
            <textarea class="form-control" id="about" rows="3" name="about"></textarea>
        </div>
        <div class="form-group">
            <label for="photo">Приложите фотографию</label>
            <input type="file" class="form-control-file" id="photo" name="file">
        </div>

    </form><div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="acceptRules" name="accept">
            <label class="form-check-label" for="acceptRules">Я принимаю условия лицензионного соглашения</label>
        </div>
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    <a href="http://127.0.0.1:8080/login">Уже есть аккаунт? Нажмите, чтобы войти</a>
{% endblock %}