{% extends "base.html" %}

{% block content %}

    <table width='90%' cellspacing='2' cellpadding='0' border='0' align='center' bgcolor='#ff6600'>
        <tr bgcolor='#ffffff'>
            <td width='33%' height='33'> <img src="static/img/1.jpg" alt="Проверьте соединение с интернетом."> </td>
        </tr>
        <tr bgcolor='#ffffff'>
            <td width='33' height='33'> <img src="static/img/4.jpg" alt="Проверьте соединение с интернетом.">
                <br>Чокер с шипами <br>Цена: 500P</td>
        </tr>
        <tr bgcolor='#ffffff'>
            <td width='33' height='33'> <img src="static/img/5.jpg" alt="Проверьте соединение с интернетом.">
                <br>Чокер <br>Цена: 400P</td>
        </tr>
        <tr bgcolor='#ffffff'>
            <td width='33' height='33'> <img src="static/img/6.jpg" alt="Проверьте соединение с интернетом.">
                <br>Наушники чёрные беспроводные<br>Цена: 6000Р </td>
        </tr>
        <tr bgcolor='#ffffff'>
            <td width='33' height='33'> <img src="static/img/7.jpg" alt="Проверьте соединение с интернетом.">
                <br>Наушники красные проводные<br>Цена: 6000Р</td>
        </tr>
        <tr bgcolor='#ffffff'>
            <td width='33' height='33'> <img src="static/img/8.jpg" alt="Проверьте соединение с интернетом.">
                <br>Ремень Gucci<br>Цена: 2000Р</td>
        </tr>
        <tr bgcolor='#ffffff'>
            <td width='33' height='33'> <img src="static/img/9.jpg" alt="Проверьте соединение с интернетом.">
                <br>Ремень Gucci<br>Цена: 2000Р</td>
        </tr>
        <tr bgcolor='#ffffff'>
            <td width='33' height='33'> <img src="static/img/10.jpg" alt="Проверьте соединение с интернетом.">
                <br>Кольцо золотое<br>Цена: 4000Р</td>
        </tr>
        <tr bgcolor='#ffffff'>
            <td width='33' height='33'> <img src="static/img/11.jpg" alt="Проверьте соединение с интернетом.">
                <br>Кольцо золотое с цветком<br>Цена: 5000Р</td>
        </tr>
        <tr bgcolor='#ffffff'>
            <td width='33' height='33'> <img src="static/img/12.jpg" alt="Проверьте соединение с интернетом.">
                <br>Галстук-бабочка мужской<br>Цена: 900Р</td>
        </tr>
    </table>
{% endblock %}